.left-hand {
  position: absolute;
  left: 20px;
  top: 300px;
  font-size: 50px;
  &::before {
    content: "左手";
    font-size: 16px;
  }
}
.right-hand {
  position: absolute;
  right: 20px;
  top: 300px;
  font-size: 50px;
  &::after {
    content: "右手";
    font-size: 16px;
  }
}
.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  .map {
    position: relative;
    width: 800px;
    height: 400px;
    border: 1px solid #000;
  }
}
.block {
  position: absolute;
  img {
    width: 80px;
  }
  &-1 {
    top: 100px;
    left: 150px;
  }
  &-2 {
    top: 40px;
    left: 300px;
  }
  &-3 {
    top: 70px;
    left: 450px;
  }
  &-4 {
    top: 200px;
    left: 530px;
  }
  &-5 {
    top: 300px;
    left: 450px;
  }
  &-6 {
    top: 200px;
    left: 300px;
  }
  &-7 {
    left: 190px;
    top: 300px;
  }
}
.road {
  position: absolute;
  z-index: -1;
  img {
    width: 100px;
  }
  &1-2 {
    top: 100px;
    left: 230px;
    img {
      width: 100px;
    }
  }
  &1-6 {
    top: 160px;
    left: 210px;
    img {
      width: 80px;
    }
  }
  &1-7 {
    top: 180px;
    left: 180px;
    img {
      width: 45px;
    }
  }
  &2-3 {
    top: 60px;
    left: 380px;
    img {
      width: 80px;
    }
  }
  &3-4 {
    top: 120px;
    left: 520px;
    img {
      width: 60px;
    }
  }
  &3-5 {
    top: 180px;
    left: 470px;
    img {
      width: 50px;
    }
  }
  &3-6 {
    left: 380px;
    top: 170px;
    img {
      width: 80px;
    }
  }
  &4-5 {
    top: 250px;
    left: 520px;
    img {
      width: 80px;
    }
  }
  &5-6 {
    top: 280px;
    left: 380px;
    img {
      width: 80px;
    }
  }
  &5-7 {
    top: 350px;
    left: 280px;
    img {
      width: 180px;
    }
  }
}
.path {
  box-shadow: 0 0 2px #ff0000;
}
.solve {
  display: none;
  position: absolute;
  width: 400px;
  height: 100px;
  bottom: 50px;
  left: 300px;
  padding: 10px 40px;
  border: 1px solid #000;
}
.display {
  display: block;
}
